body {
    margin: 0;
    font-family: Arial, sans-serif;
    border: 7px solid #0e0e0e;

}

header {
    height: 50px;
    background-color: #080808;
    color: #fff;
    text-align: center;
    
}

section {
    padding: 20px;
    border-bottom: 1px solid #0e0e0e;

}
h1 {
    margin: 0;
    font-size: 30px;
    font-family: "jazeera-light";
}
.screenshot {
    /* align in center  */
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 5px;
   width: 70%;
   border: rgb(184, 180, 180) solid 1px;
   box-shadow: 0 0 1.11111vw rgba(50, 50, 93, .25), 0 0 .34722vw rgba(77, 77, 77, .1);
   border-radius: 16px;
}
.image_title{
    /* in center */
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: rgb(105, 102, 102);
    font-size: 20px;
    
    
    
    }


@media (min-width: 600px) {
    section {
        padding: 40px;
    }
}


table {
    width: 99%;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 10px;
    font-family: "jazeera-light";
    border: rgb(184, 180, 180) solid 1px;
   box-shadow: 0 0 1.11111vw rgba(50, 50, 93, .25), 0 0 .34722vw rgba(77, 77, 77, .1);
   border-radius: 16px;
}

th {
    background-color: black;
    color: rgb(255, 255, 255);
}

td, th {
    border: 1px solid #bbabab;
    text-align: center;
    height: 50px;
}

#download_image {
    width: 50px;
}


